@model IEnumerable<BestSite.Sharecertificate>

@{
    ViewData["Title"] = "Сертификаты";
}

<h1>Сертификаты</h1>

<p>
    <a asp-controller="StockExchange" asp-action="Index" class="btn btn-outline-dark">Назад<i class="glyphicon glyphicon-chevron-right"></i></a>
    <a asp-action="CreateSC" class="btn btn-outline-dark">Добавить сертификат<i class="glyphicon glyphicon-chevron-right"></i></a>
</p>
<form method = "get" asp-action="SearchSС">
    <p>
        <input type="search" placeholder="Введите текст" value="@ViewData["Search"]" name="Searching" style="width:500px;" />
        <input type="submit" value="Поиск" class="btn btn-outline-dark"><i class="glyphicon glyphicon-chevron-right"></i>
        <a asp-action="ShareCertificates" class="btn btn-outline-dark">Сбросить<i class="glyphicon glyphicon-chevron-right"></i></a>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BuySharecount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.strBuyinfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priceforone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Totalprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shareholderid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shareinfoid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BuySharecount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strBuyinfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priceforone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Totalprice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shareholderid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shareinfoid)
            </td>
            <td>
                <a asp-action="EditSC" asp-route-id="@item.ScId" class="btn btn-outline-dark">Ред.<i class="glyphicon glyphicon-chevron-right"></i></a>
                <a asp-action="DeleteSС" asp-route-id="@item.ScId" class="btn btn-outline-dark">Удалить<i class="glyphicon glyphicon-chevron-right"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
