@model IEnumerable<BestSite.Shareinfo>

@{
    ViewData["Title"] = "Инф. об акциях";
}

<h1>Информация об акциях</h1>

<p>
    <a asp-controller="StockExchange" asp-action="Index" class="btn btn-outline-dark">Назад<i class="glyphicon glyphicon-chevron-right"></i></a>
    <a asp-action="CreateSI" class="btn btn-outline-dark">Добавить информацию<i class="glyphicon glyphicon-chevron-right"></i></a>
</p>
<form method = "get" asp-action="SearchSI">
    <p>
        <input type="search" placeholder="Введите текст" value="@ViewData["Search"]" name="Searching" style="width:500px;" />
        <input type="submit" value="Поиск" class="btn btn-outline-dark"><i class="glyphicon glyphicon-chevron-right"></i>
        <a asp-action="ShareInfo" class="btn btn-outline-dark">Сбросить<i class="glyphicon glyphicon-chevron-right"></i></a>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Issuer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sharetype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sharecount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.strShareissuedate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShareAuthorizedcapital)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Issuer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sharetype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sharecount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strShareissuedate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShareAuthorizedcapital)
            </td>
            <td>
                <a asp-action="EditSI" asp-route-id="@item.SiId" class="btn btn-outline-dark">Ред.<i class="glyphicon glyphicon-chevron-right"></i></a>
                <a asp-action="DeleteSI" asp-route-id="@item.SiId" class="btn btn-outline-dark">Удалить<i class="glyphicon glyphicon-chevron-right"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
